<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/tailwindcss@next/dist/tailwind.min.css">

  <title>JavaScript Weather App</title>
</head>
<body>

<main class="container text-center flex flex-col lg:flex-row w-screen h-screen lg:content-center justify-center mx-auto py-12 px-4" id="app">
 <div class="container mx-auto w-1/2 flex justify-center content-center flex-wrap px-4"> 
  <form>
    <label class="container text-gray-500 flex mx-auto font-bold mb-2 text-center text-4xl" for="location-search">
      What do I drink today?
    </label>
    <div class="flex container items-center border-b border-b-2 border-teal-500 py-2 pt-5">
    <input class="appearance-none bg-transparent border-grey w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none text-center" type="text" placeholder="Enter Location" aria-label="Location" id="location-search" type="search" v-model="location">
    <button class="sr-only">
      Search
    </button>
  </div>
  </form>
</div>

<!-- Weather Temp -->

<div class="container content-center flex w-screen mx-auto text-center flex-row justify-center">
 <div class="container content-center flex mx-auto text-gray-500 font-bold mb-2 text-center text-4xl">
<div class="container w-1/2 flex md:content-center md:flex-wrap">
  <div class="container mx-auto">
 <div class="font-bold mt-4 text-center text-xl" id="weather" v-if="location">
     <p class="container flex flex-col mb-2 text-gray-500 text-center">
     It's {{currentTemp}}° with {{description}} right now.
    </p>
</div>
<div class="flex container mt-4 text-center mx-auto" v-if="currentTemp">
      <span v-if="currentTemp > 85">
        <p class="text-center">You should drink a</p><p class="text-center text-green-500">Kiwi Margarita</p>
      </span>

      <span v-if="currentTemp < 85 && currentTemp > 75">
       <p class="text-center">You should drink a</p><p class="text-center text-yellow-600">White Peachy Sangria</p>
      </span>

      <span v-if="currentTemp < 75 && currentTemp > 50">
        <p class="text-center">You should drink a</p><p class="text-center text-red-800">Moscow Hot Chocolate</p>
      </span>

      <span v-if="currentTemp < 50 && currentTemp > 0">
      <p class="text-center">You should drink a</p><p class="text-center text-purple-400">White Chocolate Chai with Baileys</p>
      </span>
    </div>
  </div>
</main>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="script.js"></script>
</html>